
/* Establece el tamaño del iframe en pantalla completa */
.pantallaCompleta {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
  }
  
  /* Oculta el desbordamiento del cuerpo */
/*  body {
    overflow: hidden;
  }*/